
.bags{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto';
    gap: 0.3rem;
    position: relative;
    
}
.bags__img{
position: relative;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.bags__img img{
width: 21.96vw;
border-radius: 10px;
position: relative;


}


.bags__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


