@import '../addButton/AddButton.css';

.bags{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto';
    
}
.bags img{
    width: 300px;
    border-radius: 5px;
}

.bags__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


